/* div.container:has(h1.o_page_header) {
    padding-bottom: '5px'
} */
/* 
#tree_container {
    position: relative
}

#tree_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(ellipse at center,
        transparent 0%,
        rgba(0, 0, 0, 0.4) 80%,
        rgba(0, 0, 0, 0.8) 100%
    );
    pointer-events: none;
    z-index: -1;
} */