{% extends "ancestry/base.html" %}

{% block title %}
    {{ person.name }}'s Profile
{% endblock %}

{% block content %}
    <strong>{{ person.name }}</strong>

    <p>
        Birth: {{ person.birth_date }}
    </p>

    {% if person.death_date %}
        <p>
            Death: {{ person.death_date }}
        </p>
    {% endif %}

    <ul>
        {% for event in person.events.all %}
            <li>
                    {{ event.type }}: {{ event.date }}
            </li>
        {% endfor %}
    </ul>

    <ul>
        {% for source in person.sources.all %}
            <li>
                    {{ source.name }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}