{% extends "ancestry/base.html" %}
{% load static %}

{% block title %}
Tree {{ tree.name }}
{% endblock %}

{% block css %}
<style>
    .linage {
        fill: none;
        stroke: black;
    }
    .marriage {
        fill: none;
        stroke: black;
    }
    .node {
        background-color: lightblue;
        border-style: solid;
        border-width: 1px;
    }
    .nodeText{
        font: 10px sans-serif;
    }
    .marriageNode {
        background-color: black;
        border-radius: 50%;
    }
</style>
{% endblock %}

{% block script %}
<script src="{% static 'js/familytree.js' %}"></script>
{% endblock %}

{% block content %}
{{ tree_data|json_script:"treeData" }}

<h1>{{ tree.name }}</h1>
<div id="tree"></div>

<script>
    const treeData = [JSON.parse(document.getElementById('treeData').textContent)];
    console.log(treeData)

    const testTreeData = [
        { id: 1, pids: [2], name: "Amber McKenzie", gender: "female" },
        { id: 2, pids: [1], name: "Ava Field", gender: "male" },
        { id: 3, mid: 1, fid: 2, name: "Peter Stevens", gender: "male", foo: "Bar" },
        // { id: 4, pids: [3], name: "Ava Field2", gender: "male" },
    ]

    let family = new FamilyTree("#tree", {
        nodeBinding: {
            field_0: "name"
        }
    });

    family.load(testTreeData)


</script>
{% endblock %}